.Banner {
    .wrapper {
        height: 100%;
        img {
            min-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .Banner {
        .wrapper {
            img {
                max-width: 100%;
            }
        }
    }
}